{{!-- Need to pass in data! --}}
<div>
    <ul class="collapsible" data-collapsible="collapsible">
        {{#each resources as |resource|}}
            <li>
                {{#if resource.isImage}}
                    {{resource-image resource=resource}}
                {{else if resource.isLink}}
                    {{resource-link resource=resource}}
                {{else}}
                    {{resource-text resource=resource}}
                {{/if}}
            </li>
        {{else}}
            {{!-- No items in the resources list --}}
            <li>EMPTY LIST!!!</li>
        {{/each}}
    </ul>
</div>
